<!-- src/app/features/user/pages/wishlist/wishlist.component.html -->
<div class="wishlist-page container">
  <app-breadcrumb [crumbs]="breadcrumbs" [lang]="currentLang"></app-breadcrumb>

  @if (wishlist$ | async; as products) {
  <div class="wishlist-header">
    <h1>My Wishlist</h1>
    <span>{{ products.length }} items</span>
  </div>

  @if (products.length > 0) {
  <div class="wishlist-grid">
    @for (product of products; track product._id) {
    <app-product-card [product]="product" />
    }
  </div>
  } @else {
  <div class="empty-wishlist">
    <h2>Your Wishlist is Empty</h2>
    <p>Looks like you haven't added anything to your wishlist yet. Start exploring and save your favorites!</p>
    <a class="button primary" [routerLink]="['/', currentLang]">Start Shopping</a>
  </div>
  }
  } @else if(isLoading) {
  <p>Loading your wishlist...</p>
  }
</div>
